.icon-marker{
    width: 48px;
    height: 48px;
    cursor: pointer;
}
@import 'styles/mixin';
@import 'styles/reset';
@import 'styles/var';

@import 'styles/style_fonts/fonts';
@import "styles/general";
@import 'styles/components/header';
@import 'styles/components/banner';
@import 'styles/components/promotions';
@import 'styles/components/advantages';
@import 'styles/components/footer';
@import 'styles/components/modal';
@import 'styles/components/map';


